body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #480360;
}

a {
    color: #a359bd;
}

a:hover {
    color: #480360;
}

.heading-panel {
    margin: 10px auto;
    width: 300px;
    padding: 10px;
    background-color: #f0f0f0;
}

#product-heading {
    align-items: center;
    gap: 10px;
}

#product-heading .image {
    max-width: 100px;
    max-height: 100px;
}

#product-heading .fields {
    flex: 1;
}


#product-heading .field {
    margin-top: 10px;
}

#product-heading .field>.name {
    font-size: 0.8em;
    font-weight: bolder;
    display: block;
}

#product-heading .field-value {
    display: block;
}

#product-heading .product-name {
    margin: auto;
    /* text-decoration: none; */
    color: #b500f9;
}

#product-heading .product-name:hover {
    color: #480360;
}

#keyword-heading-label {
    font-weight: bolder;
}

#features-product-prob {
    margin-bottom: 5px;
}

#features-product-prob .probability {
    font-weight: bolder;
}

#features-product-prob .warning {
    font-weight: bolder;
    color: #f44;
}

#features-keyword-list>a {
    display: inline-block;
    margin: 0 3px;
}

#init-picker>label {
    display: block;
}

#keyword-list>a {
    display: inline-block;
    margin: 2px 5px;
}

#image-upload {
    margin: 10px;
    padding: 10px 20px;
    background-color: #b968d0;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

#image-upload:focus {
    outline: 0;
}

#image-upload:hover {
    background-color: #8b4d9c;
    color: #eee;
}

#image-upload-input {
    display: none;
}

.grid {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.grid .product-page-link {
    width: 100%;
}

.grid .product-page-link img {
    max-width: 200px;
    max-height: 200px;
}

@media (max-width: 500px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .grid .product-page-link img {
        max-width: 150px;
        max-height: 150px;
    }

    .image-container {
        width: 150px;
        height: 150px;
    }
}

#variety-container {
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
}

#variety-label {
    font-weight: bold;
    margin-bottom: 8px;
}

#variety-buttons {
    display: flex;
    gap: 10px;
}

.variety-button {
    width: 40px;
    /* All buttons same size */
    height: 40px;
    border: none;
    background-color: #f0f0f0;
    /* Default color */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    /* Slightly rounded squares */
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.variety-button .dot {
    background-color: #480360;
    border-radius: 50%;
}

.variety-button .dot-1 {
    width: 5px;
    height: 5px;
}

.variety-button .dot-2 {
    width: 10px;
    height: 10px;
}

.variety-button .dot-3 {
    width: 15px;
    height: 15px;
}

.variety-button .dot-4 {
    width: 20px;
    height: 20px;
}

.variety-button .dot-5 {
    width: 25px;
    height: 25px;
}

/* Selected button changes color */
.variety-button.selected {
    background-color: #b968d0;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
}

.product-price-blurb {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgb(60 0 70 / 70%);
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
}

#home-link {
    text-align: center;
    text-decoration: none;
}

#back-to-top {
    padding: 10px 20px;
    background-color: #b968d0;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin: 20px 0;
}

#back-to-top:focus {
    outline: 0;
}

#back-to-top:hover {
    background-color: #8b4d9c;
}

body.loading #back-to-top {
    display: none;
}

/* Elements that only show on product pages */

#home-link,
#product-heading,
#variety-container,
#init-picker,
#keyword-heading,
#features-heading {
    display: none;
}

body.product-page #home-link,
body.keyword-page #home-link,
body.features-page #home-link {
    display: block;
}

body.product-page #product-heading {
    display: flex;
}

body.keyword-page #keyword-heading {
    display: block;
}

body.features-page #features-heading {
    display: block;
}

body.product-page #variety-container,
body.keyword-page #variety-container,
body.features-page #variety-container {
    display: flex;
}

body.start-page #init-picker {
    display: block;
}

body.loading #image-grid {
    display: none;
}

/* Load error */

#fatal-error {
    display: none;
}

body.fatal-error #fatal-error {
    display: block;
    margin: 10px auto;
    width: 250px;
    color: #f40;
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px;
}

#fatal-error .heading {
    font-weight: bolder;
    display: block;
}

#fatal-error #error-message {
    margin-top: 5px;
    display: block;
}

#loader {
    display: none;

    text-align: center;
    font-size: 2em;
}

body.loading #loader {
    display: block;
}

body.fatal-error #image-grid,
body.fatal-error #back-to-top {
    display: none;
}

body.fatal-error #home-link {
    display: block;
}